// mandatory css
@import '../css/datatables.bundle.min';
@import '../css/bootstrap-select.min';
@import '../css/jquery.bootstrap-touchspin.min';
@import '../css/perfect-scrollbar';
@import '../css/bootstrap-switch.min';
@import '../css/sweetalert2.min';
@import '../css/header/base/light.min';
@import '../css/header/menu/light.min';
@import '../css/brand/dark.min';
@import '../css/aside/dark.min';

// Components icons
@import '../css/flaticon/flaticon';
@import '../css/flaticon2/flaticon';
@import '../css/line-awesome/line-awesome';

#__nuxt, #__layout {
  height: 100%;
}

.kt-grid--root {
  min-height: 100%;
}

.kt-scroll {
  position: relative;
}

.kt-user-card {
  background-image: url(~assets/images/bg-user-menu.jpg);
}

// loading table
.loading-table {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
  display: table;
  table-layout: fixed;
  border-radius: 4px;
  margin-left: 45%;
}

.loading-table>span {
  color: #74788d;
  display: table-cell;
  vertical-align: middle;
  padding: .75rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.loading-table>span>.kt-spinner {
  margin-right: 1.25rem;
}

// table column-indicator
.capacity-indicator-success {
  background-color: #0abb87;
}
.capacity-indicator-info {
  background-color: #5578eb;
}
.capacity-indicator-warning {
  background-color: #ffb822;
}
.capacity-indicator-danger {
  background-color: #fd397a;
}
