// mandatory css
@import '../css/perfect-scrollbar';
@import '../css/header/base/light.min';
@import '../css/header/menu/light.min';
@import '../css/brand/dark.min';
@import '../css/aside/dark.min';

// Components icons
@import '../css/flaticon/flaticon';
@import '../css/flaticon2/flaticon';
@import '../css/line-awesome/line-awesome';

#__nuxt, #__layout {
    height: 100%;
}

.kt-grid--root {
    min-height: 100%;
}

.kt-scroll {
    position: relative;
}

.kt-user-card {
    background-image: url(~assets/images/bg-user-menu.jpg);
}
